Team*.zip
*.pem
*.ppk
*.crt
*.key
*.ovpn

learn-src/dashboard/__pycache__
learn-src/dashboard/migrations/__pycache__
learn-src/dashboard/migrations/000*

employee-src/accounts/__pycache__
employee-src/accounts/migrations/__pycache__
employee-src/accounts/migrations/000*