<html>
  <head>
    <script type="text/javascript">
    var i = 0;
      function addField() {
        var container = document.getElementById("skills");
        container.appendChild(document.createElement("br"));      

        var label = document.createElement("label");
        label.for = "skills";
        label.className = "control-label col-sm-2";
        i = i + 1;
        label.innerText = "Skill " + i;
        label.id = "skill-label-" + i;
        container.appendChild(label);

        var input = document.createElement("input");
        input.type = "text";
        input.name = "skills[]";
        input.id = "skill-input-" + i;
        container.appendChild(input);  
      }
      function removeField() {
        // Number of inputs to create
        // Container <div> where dynamic content will be placed

        var container = document.getElementById("skills");
        container.removeChild(document.getElementById("skill-label-" + i));
        container.removeChild(document.getElementById("skill-input-" + i));
        i = i - 1;    
      }
    </script>
  </head>
  <body>
    <h4>Company Form: </h4>
    <form class="form-horizontal" action="/company/form" method='POST'>
        {% csrf_token%}
        <div class="form-group">
            <label for="name" class="control-label col-sm-2">Name:</label>
            <input type="name" name="name" class="form-control">
          </div>
        <div class="form-group">
          <label for="email" class="control-label col-sm-2">Email address:</label>
          <input type="email" name="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="jobProfile" class="control-label col-sm-2">Job Profile</label>
          <input type="jobProfile" name="jobProfile" class="form-control">
        </div>
        <div class="form-group" id="skills">
          <label for="skills" class="control-label col-sm-2">Skills Required:</label>
          <input type="button" class="btn btn-default" onclick="addField()" value="Add Field">
          <input type="button" class="btn btn-default" onclick="removeField()" value="Remove Field">
        </div>
        <div class="form-group">
            <label for="desc" class="control-label col-sm-2">Job Description:</label>
            <input type="text" name="description" class="form-control">
          </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </body>
</html>
