{% extends 'navbar/base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block body %}

{% for company in companies %}
<div class="card" style="width: 18rem; margin:100px;">
    <img class="card-img-top" src="{% static 'images/opel (another copy).png' %}" alt={{ company.name }} >
    <div class="card-body">
        <h5 class="card-title">{{ company.name }}</h5>
        <p class="card-text">{{ company.desc }}</p>
        <input type="button" class="btn btn-primary" onclick="apply()" value="Apply">
    </div>
</div>
{% endfor %}
{% endblock %}